<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=
                 "http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Filters</display-name>
    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>com.github.nechai.aeroflot.web.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Filter2</filter-name>
        <filter-class>com.github.nechai.aeroflot.web.filter.AuthFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Filter2</filter-name>
        <servlet-name>/airport</servlet-name>
        <servlet-name>/flights</servlet-name>
        <servlet-name>/planes</servlet-name>
        <servlet-name>/workers</servlet-name>
        <servlet-name>/Admin</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>Filter3</filter-name>
        <filter-class>com.github.nechai.aeroflot.web.filter.AuthFilterAdmin</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Filter3</filter-name>
        <servlet-name>/Admin</servlet-name>
    </filter-mapping>
    <filter>
    <filter-name>Filter4</filter-name>
    <filter-class>com.github.nechai.aeroflot.web.filter.AuthFilterDis</filter-class>
    <init-param>
        <param-name>active</param-name>
        <param-value>true</param-value>
    </init-param>
    </filter>
    <filter-mapping>
    <filter-name>Filter4</filter-name>
        <servlet-name>/airport</servlet-name>
        <servlet-name>/flights</servlet-name>
        <servlet-name>/planes</servlet-name>
        <servlet-name>/workers</servlet-name>
    </filter-mapping>
</web-app>